<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PredictX | About Us</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/aboutus.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">

    <style>
        body {
    padding-top: 3.5rem;
}

nav {
    font-family: sans-serif;
}

.navbar-brand {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

 
.our-team{
    border-radius: 15px;
    text-align: center;
    padding: 20px 15px 30px;
    background: #fff;

}
.our-team .pic{
    background: #fff;
    padding: 10px;
    margin-bottom: 25px;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease 0s;
}
.our-team:hover .pic{
    background: #17bebb;
    border-radius: 50%;
}
.pic img{
    width: 100%;
    height: 50vh;
    border-radius: 50%;
}
.our-team .title{
    font-weight: 600;
    color: #2e282a;
    text-transform: uppercase;
    display: block;
    font-size: 20px;
    margin: 0 0 7px 0;
}
.our-team .post{
    color: #17bebb;
    text-transform: capitalize;
    display: block;
    font-size: 15px;
    margin-bottom: 15px;
}
    </style>

</head>
<body>
    <form id="form1">
        <header>
            <!--Navigation Bar-->
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="#"><b>PredictX</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/help">Help</a>
                    </li>
                    <li class="nav-item">
		                <a class="nav-link" href="/login">Login</a>
		            </li>
                    <li class="nav-item">
		                <a class="nav-link" href="/signup">Sign Up</a>
		            </li>
                    </ul>
                </div>
            </nav>
        </header>

         <main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">About PredictX</h1>
      <p>Welcome to PredictX!, a risk assessment system for medical institutions to generate risk assessments for their patients. PredictX started off as a company that formed strong relationships with medical institutions to help them generate their assessments with
         ease and maximum efficiency thus saving the organization's valuable time. Click below for Help.
      </p>
      <p><a class="btn btn-primary btn-lg" href="/help" role="button">Help &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <h1 class="text-align-center">MEET THE TEAM</h1>
        <div class="row">
          <div style="height:64px;" aria-hidden="true" class="wp-block-spacer"></div>
            
                <!-- team section-->
                <div class="col-md-5 col-sm-10">
                <div class="our-team">
                    <div class="pic">
                        <img src="static/img/WhatsApp Image 2022-07-07 at 11.25.15 PM.jpeg">
                    </div>
                    <h3 class="title">Pranay Sadani</h3>

                    <!--social icon-->

                </div>
            </div>

    <!--2nd member-->
     
            <div class="col-md-5 col-sm-10">
                <div class="our-team">
                    <div class="pic">
                        <img src="static/img/WhatsApp Image 2022-07-07 at 11.20.40 PM.jpeg">
                    </div>
                    <h3 class="title">Prakarsh Jhajharia</h3>
                     <!--social Icon-->

                </div>
            </div>
    
        </div>
    </div>

  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <h2>Admin</h2>
        <p>PredictX provides instituitons with an Admin account to generate risk assessments for their patients.</p>
        <p><a class="btn btn-secondary" href="/login" role="button">Login &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>How does it Work?</h2>
        <p>PredictX makes use of machine learning models that helps generate accurate risk assessments.</p>
        <p><a class="btn btn-secondary" href="/login" role="button">Generate Assessment &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Terms & Conditions</h2>
        <p>If your organization has any concerns regarding the system please click below to read our Terms and Conditions.</p>
        <p><a class="btn btn-secondary" href="/terms" role="button">Terms & Conditions &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div>

</main>

<footer class="container">
  <p>&copy; PredictX. All Rights Reserved</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.js"></script>

    </form>
</body>
</html>
